html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 20px;
  width: 904px;
}

.wrapper span {
  position: absolute;
  padding: 0 .5em;
  margin-left: 1em;
  margin-top: -7px;
  font-family: operator mono ssm a,operator mono ssm b,operator mono,source code pro,Menlo,Consolas,Monaco,monospace;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2e2f3e;
  background-color: #fff;
}

.outside-block {
  padding: 10px;
  border: 1px solid #da1b60;
  border-radius: 8px;
  background-color: #fff;
}

.inside-block {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: -system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 20px;
  color: #2e2f3e;
  background: linear-gradient(to right,#fce4ed,#ffe8cc);
}

.inside-block p a {
  color: #0f80b6;
  text-decoration: none;
}

.inside-block p a:hover {
  background: linear-gradient(to right, #ff8a00,#da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}